@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<section>
    <h3>Why this exists</h3>
    <p>Dan Leonard uses this site for his own URLs.</p>
</section>

<section>
    <h3>URLs handled</h3>
    <p>This site will redirect to any entered string, whether it is a valid URL or not. Most importantly, this site can redirect to protocols other than <code>HTTP</code> and <code>HTTPS</code>.</p>
</section>