@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Dan Leonard's URL Shortener</h1>
    <p class="lead">Shorten your URLs with a fancy <code>r.danleonard.us</code> domain!</p>
    <section>
        <h2>Shorten a URL</h2>
        <input type="url" id="url-box" title="Enter the URL to be shortened here" />
    </section>
</div>